html,body{
  margin:0;
}

header{
  background: #F55A5A;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 55px;
  margin-bottom: 20px;
}

header > img{
  width:24px;
  margin-top: 7px;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 50%;
}

header > h1{
  font-size: .9rem;
  font-weight: 500;
  font-family: Inter;
}

article.journal-entry{
  display: flex;
}

article.journal-entry .marker{
  width: 7px;
  margin-right: 4px;
}

article.journal-entry .main-image-container{
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

article.journal-entry .main-image{
 height: 100%;
 width: 100%;
 object-fit: cover;
 margin-left: 15px;
 border-radius: 7px;
}

